:host {
  display: block;
}

.search-layout {
  display: grid;
  height: var(--content-height);
  grid-template-columns: minmax(var(--sidebar-min), var(--sidebar-max)) 1fr;
  overflow: hidden;
}

@media (max-width: 60rem) {
  .search-layout {
    height: auto;
    min-height: var(--content-height);
    grid-template-columns: 1fr;
  }
}
