<app-shell>
  <section filter-panel>
    <app-job-filters />
  </section>

  <div class="search-layout">
    <app-job-list
      [jobs]="store.jobs()"
      [loading]="store.loading()"
      [selectedJobId]="store.selectedJobId()"
      [savedJobIds]="savedJobs.savedJobIds()"
      [appliedJobIds]="savedJobs.appliedJobIds()"
      (selectJob)="onSelectJob($event)"
    />

    <app-job-map
      [jobs]="store.jobs()"
      [selectedJobId]="store.selectedJobId()"
      (selectJob)="onSelectJob($event)"
    />
  </div>
</app-shell>
